@font-face {
    font-family: "Atyp Display";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/AtypDisplay-Regular.woff2) format("woff2"),
    url(../fonts/AtypDisplay-Regular.woff) format("woff");
}
@font-face {
    font-family: "Atyp Display";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/AtypDisplay-Medium.woff2) format("woff2"),
    url(../fonts/AtypDisplay-Medium.woff) format("woff");
}

:root{
    --indent-top-pc: 80px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -tap-highlight-color: transparent;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: rgb(206, 205, 205);
}
::-webkit-scrollbar-thumb {
    background: rgb(46, 46, 46);
}
html,
body{
    height: 100%;
}
body{
    font-family: 'Atyp Display', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    color: #1E1F1F;
    padding-top: var(--indent-top-pc);
    min-width: 320px;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul{
    list-style: none;
}
input{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-family: 'Atyp Display', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #1E1F1F;
    outline: none;
}
input::placeholder{
    font-family: 'Atyp Display', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background: transparent;
    font-family: 'Atyp Display', sans-serif;
    font-size: 14px;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
}
img{
    max-width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    max-width: 1870px;
    width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
}
.container-fluid{
    max-width: 1920px;
    margin-inline: auto;
}
.body--pt-0{
    padding-top: 0;
}
.hidden{
    display: none !important;
}
.logo svg path{
    transition: fill .2s ease-in-out;
}
.button{
    background-color: #1E1F1F;
    border: 1px solid #1E1F1F;
    padding: 24px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-align: center;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.link{
    position: relative;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.link--color-black{
    color: #1E1F1F;
}
.link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transition: width .3s ease-in-out;
}
.link--color-black::before{
    background-color: #1E1F1F;
}

.title{
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
}

.subtitle{
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
}
.subtitle-2{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.menu{
    margin-inline: auto;
}
.menu__list{
    display: flex;
    column-gap: 30px;
}
.menu__list-link{
    transition: color .2s ease-in-out;
}
.menu__list-box{
    position: absolute;
    padding-top: 32px;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}
.menu__list-boxinner{
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
}
.menu__list-boxcontent{
    display: flex;
    padding-block: 40px;
}
.menu__list-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 80px;
}
.menu__list-nav{
    display: flex;
    gap: 40px;
    width: 100%;
}
.menu__list-navbox{
    max-width: 200px;
    width: 100%;
}
.menu__list-navtitle{
    color: #999999;
    margin-bottom: 35px;
}
.menu__list-navitem + .menu__list-navitem{
    margin-top: 20px;
}
.menu__list-navlink{
    font-weight: 500;
    color: #1E1F1F;
    transition: color .2s ease-in-out;
}
.menu__new-collections,
.menu__info{
    display: none;
}
.slider-arrows{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.slider-arrow{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-arrow--prev{
    background-image: url("../images/icons/arrow-black-prev.svg");
}
.slider-arrow--next{
    background-image: url("../images/icons/arrow-black-next.svg");
}
.swiper-pagination-bullets{
    position: absolute;
    bottom: 15px !important;
    left: 0;
    display: none;
    column-gap: 10px;
    z-index: 1;
}
.swiper-pagination-bullet{
    height: 4px;
    flex-grow: 1;
    margin: 0 !important;
    background-color: #fff;
    border-radius: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #1E1F1F;
}
.search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.search::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    pointer-events: none;
}
.search--active{
    opacity: 1;
    pointer-events: auto;
}
.search--active .product-card__top-sliderslide.swiper-slide-active{
    pointer-events: auto !important;
}
.search__products .product-card__top-sliderslide.swiper-slide-active{
    pointer-events: none;
}
.search__box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #1E1F1F;
    z-index: 3;
    padding-top: 17px;
    background-color: #fff;
}
.search__top{
    display: flex;
    align-items: center;
    column-gap: 35px;
    max-width: 878px;
    width: 100%;
    margin-inline: auto;
    background-color: #F2F2F2;
}
.search__form{
    max-width: 800px;
    width: 100%;
}
.search__form-filed{
    position: relative;
}
.search__form-filed:focus-within svg path,
.search__form-input:valid + svg path{
    stroke: #1E1F1F;
}
.search__form-filed svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.search__form-filed svg path{
    order: -1;
    transition: stroke .3s ease-in-out;
}
.search__form-input{
    background-color: #F2F2F2;
    padding: 17px 17px 17px 54px;
}
.search__close-btn{
    width: 27px;
    height: 27px;
    margin-right: 16px;
}
.search__close-icon{
    object-fit: contain;
}
.search__content{
    display: flex;
    margin-top: 60px;
    padding-bottom: 40px;
    overflow-y: auto;
}
.search__results{
    text-transform: none;
    font-weight: 400;
    max-width: 400px;
    width: 100%;
    margin-right: 80px;
}
.search__results-first{
    margin-bottom: 49px;
}
.search__results-first .search__results-link{
    padding-top: 0;
    padding-bottom: 15px;
    justify-content: space-between;
}
.search__results-arrowicon{
    width: 17px;
    height: 17px;
    object-fit: contain;
}
.search__results-link{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-block: 19px;
    border-bottom: 1px solid #E6E6E6;
    transition: color .2s ease-in-out, column-gap .2s ease-in-out;
}
.search__results-title{
    font-size: 16px;
}
.search__results-text{
    margin-top: 11px;
    color: #999999;
}
.search__results-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.search__products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    width: 100%;
}
.search__content-itemname{
    display: none;
    margin-bottom: 20px;
}
.search__content-name{
    font-weight: 500;
    text-transform: uppercase;
}
.buttons-box{
    position: relative;
}
.buttons-box--top .buttons-box__list{
    padding: 8px 0;
    bottom: 40px;
}
.buttons-box__btn{
    display: flex;
    align-items: center;
    column-gap: 7px;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}
.buttons-box__btn.buttons-box__btn--active + .buttons-box__list{
    margin-top: 12px;
    opacity: 1;
    pointer-events: visible;
}
.buttons-box__btn.buttons-box__btn--active svg{
    transform: rotate(-180deg);
}
.buttons-box--top .buttons-box__btn.buttons-box__btn--active + .buttons-box__list{
    bottom: 32px;
}
.buttons-box__btn svg{
    margin-top: -2px;
    transition: transform .3s ease-in-out;
}
.buttons-box__btn svg path{
    transition: stroke .3s ease-in-out;
}
.buttons-box__list{
    position: absolute;
    left: -12px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #2B3740;
    width: 65px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out, bottom .3s ease-in-out;
}
.button-box__list-link{
    width: 100%;
    padding: 8px 5px;
    color: #1E1F1F;
    transition: .3s background-color ease-in-out;
}
.buttons-box__list-item:first-child .button-box__list-link{
    border-radius: 4px 4px 0 0;
}
.buttons-box__list-item:last-child .button-box__list-link{
    border-radius: 0 0 4px 4px;
}
.products--min .product-card .product-card__image{
    height: 320px;
}
.products--min .product-card .product-card__image-top{
    top: 20px;
    left: 20px;
    right: 20px;
}
.products--min .product-card .product-card__image-info span{
    font-size: 10px;
}
.products--min .product-card .product-card__image-btnlike{
    width: 12px;
    height: 11px;
}
.products--min .product-card .product-card__info{
    padding: 20px;
}
.products--min .product-card .product-card__top-sliderslide{
    padding: 32px 20px 0;
}
.products--min .product-card .product-card__top-sliderimg{
    aspect-ratio: 1 / 0.9;
}
.products--min .product-card .product-card__info-title{
    font-size: 10px;
}
.products--min .product-card .product-card__info-price{
    margin-block: 7px 10px;
    font-size: 11px;
}
.products--min .product-card .product-card__info-price span{
    font-size: 9px;
}
.products--min .product-card .product-card__info-color{
    width: 6px;
    height: 6px;
}
.products--min .product-card .product-card__info-size{
    left: 20px;
    right: 20px;
}
.products--min .product-card .product-card__info-sizelink{
   padding: 10px 2px;
   font-size: 10px;
}
.product-card{
    overflow: hidden;
}
.product-card__image{
    position: relative;
    background-color: #F2F2F2;
    /*padding: 56px 40px 0;*/
    text-align: center;
    height: 640px;
    /*display: flex;*/
}
.product-card__image-top{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.product-card__image-info{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.product-card__image-info span{
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}
.product-card__image-btnlike{
    width: 18px;
    height: 16px;
    margin-left: auto;
}
.product-card__image-btnlike.product-card__image-btnlike--active svg path{
    fill: #1E1F1F;
}
.product-card__image-btnlike svg path{
    transition: fill .3s ease-in-out;
}
.product-card__top-slider{
    margin: auto;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
}
.product-card__top-slider .swiper-wrapper{
    display: flex;
    align-items: center;
}
.product-card__top-sliderslide{
    height: 100% !important;
    display: flex;
    padding: 56px 40px 0;
}
.product-card__top-sliderimg{
    object-fit: contain;
    aspect-ratio: 1 / 1.2;
    width: 100%;
    margin-block: auto;
}
.product-card__info{
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    border-inline: 1px solid #E6E6E6;
    padding: 36px 40px;
}
.product-card__info-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    transition: .3s opacity ease-in-out;
}
.product-card__info-flex--none{
    opacity: 0;
    pointer-events: none;
}
.product-card__info-title{
    font-weight: 500;
}
.product-card__info-price{
    margin-block: 10px 18px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.product-card__info-pricediscount{
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    text-decoration: line-through;
}
.product-card__info-colors{
    display: flex;
    column-gap: 8px;
}
.product-card__info-color{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color);
    transition: outline .3s ease-in-out, border .3s ease-in-out;
}
.product-card__info-color::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid #7d7c7c;
    opacity: 0.3;
}
.product-card__info-color::after{
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-radius: 50%;
    border: 1px solid #1E1F1F;
    transform: scale(0.6);
    opacity: 0;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.product-card__info-color.product-card__info-color--active::after{
    transform: scale(1);
    opacity: 1;
}
.product-card__info-btn{
    width: 21px;
    height: 21px;
}
.product-card__info-btnicon{
    object-fit: contain;
}
.product-card__info-size{
    position: absolute;
    top: 50%;
    left: 40px;
    right: 40px;
    display: flex;
    opacity: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}
.product-card__info-size--active{
    opacity: 1;
    pointer-events: visible;
}
.product-card__info-sizelink{
    padding: 20px 5px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color .2s ease-in-out;
}
.model-action{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: .3s opacity ease-in-out;
    pointer-events: none;
}
.model-action--active{
    opacity: 1;
    pointer-events: visible;
}
.model-action--active .model-action__box{
    transform: translateX(0);
    opacity: 1;
}
.model-action__box{
    width: 480px;
    overflow-y: auto;
    background-color: #fff;
    color: #1E1F1F;
    height: 100vh;
    height: 100dvh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(100%);
    transition: .3s opacity ease-in-out, .3s transform ease-in-out;
}
.model-action__content{
    padding-inline: 40px;
}
.model-action__content--top{
    border-bottom: 1px solid #E6E6E6;
    padding-block: 40px;
    margin-bottom: 25px;
}
.model-action__content--bottom{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: auto;
    padding-block: 40px;
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
}
.model-action__basket-contenttotal{
    padding-top: 22px;
}
.model-action__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
}
.model-action__top-title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.model-action__top-btnclose{
    width: 29px;
    height: 29px;
}
.model-action__top-btncloseicon{
    object-fit: contain;
}
.model-action__basket-delivery{
    margin-bottom: 37px;
}
.model-action__basket-text{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    color: #999999;
}
.model-action__basket-text span{
    margin-left: 4px;
    font-weight: 500;
    color: #1E1F1F;
}
.model-action__basket-progressbar{
    position: relative;
    background-color: #F2F2F2;
    width: 100%;
    height: 4px;
}
.model-action__basket-progressbar span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #8FCA54;
    transition: width .3s;
}
.model-action__basket-product{
    display: flex;
}
.model-action__basket-product + .model-action__basket-product{
    margin-top: 30px;
}
.model-action__basket-productimgbox{
    max-width: 80px;
    width: 100%;
    height: 108px;
    padding: 6px 6px 0;
    margin-right: 20px;
    background-color: #F2F2F2;
}
.model-action__basket-productimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.model-action__basket-productinfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.model-action__basket-productinfoflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.model-action__basket-productinfotop{
    margin-bottom: 18px;
}
.model-action__basket-productinfotitle{
    text-transform: uppercase;
}
.model-action__basket-productinfoprice,
.model-action__basket-productinfotitle{
    font-size: 12px;
    font-weight: 500;
}
.model-action__basket-productinfofeature{
    font-size: 12px;
    color: #999999;
}
.model-action__basket-productinfofeature + .model-action__basket-productinfofeature{
    margin-top: 12px;
}
.model-action__basket-productinfobottom{
    margin-top: auto;
}
.model-action__basket-productinfocount{
    display: flex;
    align-items: center;
}
.model-action__basket-productinfocountbtn{
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
}
.model-action__basket-productinfocountminus{
    background-image: url("../images/icons/basket-minus.svg");
}
.model-action__basket-productinfocountplus{
    background-image: url("../images/icons/basket-plus.svg");
}
.model-action__basket-productinfocountinput{
    text-align: center;
    width: 18px;
    margin-inline: 4px;
    font-size: 14px;
    line-height: 14px;
}
.model-action__basket-productinfobtndelete{
    font-size: 12px;
    text-transform: none;
    color: #999999;
}
.model-action__basket-likesflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 17px;
    margin-bottom: 23px;
}
.model-action__basket-subtitle{
    text-transform: uppercase;
    font-weight: 500;
}
.model-action__basket-likessliderarrows{
    column-gap: 16px;
}
.model-action__basket-likessliderarrows .slider-arrow{
    width: 15px;
    height: 15px;
}
.model-action__basket-likesslider{
    overflow: hidden;
}
.model-action__basket-likessliderslide .product-card__image{
    height: 280px !important;
}
.model-action__basket-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    font-weight: 500;
}
.model-action__basket-totaltitle{
    text-transform: uppercase;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    transition: background-color .3s ease-in-out;
}
.header.header--active{
    background-color: #fff;
    color: #1E1F1F;
}
.header.header--active .header__mobile-btn span{
    background-color: #1E1F1F;
}
.header.header--active .logo svg path{
   fill: #1E1F1F;
}
.header.header--active .header__links-ref svg path,
.header.header--active .buttons-box__btn svg path,
.header.header--active .header__btn-search svg path{
   stroke: #1E1F1F;
}
.header.header--active .buttons-box__btn{
    color: #1E1F1F;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
}
.header__btn-search{
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 20vw;
    flex-grow: 1;
    z-index: 1;
    transition: color .3s ease-in-out;
}
.header__btn-search span{
    margin-top: 2px;
}
.header__btn-search svg path{
    transition: stroke .3s ease-in-out;
}
.header__buttons{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__links{
    display: flex;
    column-gap: 14px;
    align-items: center;
    margin-left: 47px;
}
.header__links-ref{
    width: 24px;
    height: 24px;
    position: relative;
}
.header__links-ref.header__links-ref--decor::before{
    content: '';
    position: absolute;
    bottom: 7px;
    right: 1px;
    width: 9px;
    height: 9px;
    background-color: #E54545;
    border-radius: 50%;
}
.header__links-ref svg path{
    transition: stroke .3s, fill .3s;
}
.header__mobile-btn{
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
.header__mobile-btn span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}
.header__mobile-btn--active{
    transform: translateY(4px);
}
.header__mobile-btn--active span:first-child{
    transform: rotate(45deg) translate(3px);
}
.header__mobile-btn--active span:last-child{
    transform: rotate(-45deg) translate(7px, -4px);
}
.new-collection__slider{
    position: relative;
    overflow: hidden;
}
.new-collection__slider-slide{
    height: 100vh;
    height: 100dvh;
    padding-top: var(--indent-top-pc);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.new-collection__slider-slidevideo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.new-collection__slider-info{
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
}
.new-collection__slider-subtitle{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.new-collection__slider-title{
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 60px;
}
.new-collection__slider-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
.new-collection__slider-button--prev{
    background-image: url(../images/icons/arrow-prev.svg);
    left: 52px;
}
.new-collection__slider-button--next{
    background-image: url(../images/icons/arrow-next.svg);
    right: 52px;
}
.products-block{
    margin-top: 40px;
}
.products-slider{
    overflow: hidden;
}
.products-block__top,
.our-instagram__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 40px;
}
.preview-collections__items{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    column-gap: 1px;
}
.preview-collections--3 .preview-collections__items{
    grid-template-columns: repeat(3, 1fr);
}
.preview-collections--3 .preview-collections__card-title{
    font-size: 24px;
}
.preview-collections--3 .preview-collections__card-title{
     margin-bottom: 40px;
}
.preview-collections__card{
    padding-inline: 40px;
    background-position: top center;
}
.preview-collections__card,
.preview-collection{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 960px;
    padding-block: 50px;
}
.preview-collection{
    background-position: center right;
}
.preview-collections__card-info,
.preview-collection__card-info{
    text-transform: uppercase;
    color: #fff;
}
.preview-collections__card-title,
.preview-collection__card-title{
    margin-bottom: 50px;
}
.preview-collections__card-subtitle,
.preview-collection__card-subtitle{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}
.our-instagram{
    margin-top: 40px;
}
.our-instagram__top-link{
    font-size: 14px;
}
.our-instagram__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
.our-instagram__items-img{
    object-fit: cover;
    aspect-ratio: 1 / 1;
    max-height: 480px;
    width: 100%;
    height: 100%;
}

.collections-info{
    margin-bottom: 100px;
}
.collections-info__img{
    width: 100%;
    height: 66vh;
    object-fit: cover;
    margin-bottom: 80px;
}
.collections-info__inner{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.collections-info__headers-text{
    margin-top: 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.collections-info__text{
    max-width: 760px;
    margin-right: 120px;
    font-size: 20px;
    line-height: 1.4;
}
.collections-products{
    padding-top: 35px;
    border-top: 1px solid #E6E6E6;
}
.collections-products__filters{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 500;
}
.collections-products__filters-count{
    margin-right: auto;
}
.collections-products__filters-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    flex-grow: 1;
    column-gap: 15px;
}
.collections-products__filters-sort{
    display: flex;
    column-gap: 35px;
}
.collections-products__filters-sortbtn,
.collections-products__filters-btn{
    display: flex;
    column-gap: 10px;
}
.collections-products__filters-sortbtn{
    position: relative;
    padding-left: 17px;
    transition: color .3s ease-in-out;
}
.collections-products__filters-sortbtn::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url("../images/icons/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 10px;
}
.collections-products__filters-btn{
    transition: color .3s ease-in-out;
}
.collections-products__filters-btn svg rect{
    transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.footer{
    background-color: #1E1F1F;
    padding-block: 60px 50px;
}
.footer__top{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 211px;
}
.footer__contact{
    max-width: 400px;
    width: 100%;
}
.footer__contact-text{
    font-size: 16px;
    color: #fff;
    margin-bottom: 35px;
}
.footer__contact-forminput{
    padding-bottom: 13px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-bottom: 28px;
}
.footer__contact-forminput::placeholder{
    font-size: 18px;
    color: #717171;
}
.footer__contact-formbtn{
    border-color: #717171;
    color: #717171;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.footer__social{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 32px;
}
.footer__social-link{
    width: 26px;
    height: 26px;
    transition: transform .3s cubic-bezier(0.18, -0.6, 0.32, 1.6);
}
.footer__info-links--1{
    display: none !important;
}
.footer__social-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer__menu{
    display: flex;
    column-gap: 290px;
}
.footer__menu-name{
    display: none;
}
.footer__menu-box{
    width: 190px;
}
.footer__menu-title{
    font-size: 16px;
    color: #717171;
    margin-bottom: 35px;
}
.footer__menu-item + .footer__menu-item{
    margin-top: 24px;
}
.footer__menu-itemlink{
    color: #fff;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
}
.footer__info{
    margin-top: 140px;
    display: flex;
    align-items: center;
}
.footer__info-text{
    color: #fff;
    text-transform: uppercase;
}
.footer__info-copyright{
    font-size: 16px;
    color: #717171;
    margin-left: auto;
    margin-right: 230px;
}
.footer__info-flex{
    display: flex;
    align-items: center;
}
.footer__info-links{
    display: flex;
    align-items: center;
    margin-left: 68px;
}
.footer__info-link{
    color: #fff;
    transition: color .2s ease-in-out;
}
.footer__info-separator{
    width: 1px;
    height: 10px;
    background-color: #717171;
    margin: 0 20px;
}
.footer .buttons-box__btn{
    color: #fff;
}
.footer .buttons-box--lang{
    display: none;
}
/*hover*/
@media (hover: hover){
    .logo:hover svg path{
        fill: #999999 !important;
    }
    .button:hover{
        background-color: transparent;
        color: #1E1F1F;
    }
    .header:hover{
        background-color: #fff;
        color: #1E1F1F;
    }
    .header:hover .logo svg path{
        fill: #1E1F1F;
    }
    .menu__list-link:hover{
        color: #999999;
    }
    .menu__list-item:hover .menu__list-box{
        opacity: 1;
        pointer-events: visible;
    }
    .menu__list-navlink:hover{
        color: #999999;
    }
    .header:hover .header__btn-search svg path,
    .header:hover .buttons-box__btn svg path,
    .header:hover .header__links-ref svg path{
        stroke: #1E1F1F;
    }
    .header__btn-search:hover{
        color: #999999;
    }
    .header__btn-search:hover svg path{
        stroke: #999999!important;
    }
    .header__links-ref:hover svg path:not(.fill-none){
        fill: #1E1F1F;
    }
    .product-card__image-btnlike:hover svg path{
        fill: #1E1F1F;
    }
    .product-card__info-sizelink:hover{
        border-color: #1E1F1F;
    }
    .header:hover .buttons-box__btn{
        color: #1E1F1F;
    }
    .header:hover .header__mobile-btn span{
        background-color: #1E1F1F;
    }
    .header__buttons-link:hover{
        color: #999999;
    }
    .link:hover::before{
        width: 1px;
    }
    .search__results-link:hover {
        color: #999999;
        column-gap: 15px;
    }
    .button-box__list-link:hover{
        background-color: rgba(153, 153, 153, 0.32);
    }
    .collections-products__filters-btn:hover,
    .collections-products__filters-sortbtn:hover{
        color: #999999;
    }
    .collections-products__filters-btn:hover .collections-products__filters-btnsvgline{
        fill: #999999;
    }
    .collections-products__filters-btn:hover .collections-products__filters-btnsvgcircle{
        stroke: #999999;
    }
    .footer__menu-itemlink:hover{
        color: #999999;
    }
    .footer__contact-formbtn:hover{
        background-color: #fff;
        border-color: #fff;
        color: #717171;
    }
    .footer__info-link:hover{
        color: #999999;
    }
    .footer__social-link:hover{
        transform: scale(1.25);
    }
}
/*адаптация*/
@media (max-width: 1786px) {
    .product-card__info-sizelink{
        padding: 13px 5px;
    }
    .preview-collections__card,
    .preview-collection{
        min-height: 850px;
    }
    .footer__top{
        padding-right: 100px;
    }
    .footer__menu{
        column-gap: 180px;
    }
}
@media (max-width: 1730px) {
    .search__products{
        gap: 20px;
    }
    .search__results{
        margin-right: 40px;
    }
}
@media (max-width: 1580px) {
    .search__content{
        display: block;
    }
    .search__content{
        margin-top: 40px;
        padding-bottom: 0;
    }
    .search__results{
        margin-right: 0;
        max-width: none;
        margin-bottom: 40px;
    }
    .search__content-itemname{
        display: block;
    }
    .search__results-first{
        margin-bottom: 36px;
    }
    .product-card__top-sliderimg{
        aspect-ratio: 1 / 1.4;
    }
}
@media (max-width: 1440px) {
    .menu__list{
        column-gap: 25px;
    }
    .menu__list-img{
        width: 350px;
    }
    .header__links{
        margin-left: 0;
        column-gap: 10px;
    }
    .header__buttons{
        column-gap: 20px;
    }
    .new-collection__slider-button--prev{
        left: 35px;
    }
    .new-collection__slider-button--next{
        right: 35px;
    }
    .product-card__image{
        height: 500px;
    }
    .product-card__info-sizelink {
        padding: 8px 5px;
    }
    .preview-collections__card,
    .preview-collection{
        min-height: 700px;
    }
    .model-action__box{
        width: 450px;
    }
    .model-action__content--top{
        padding-block: 35px;
    }
    .model-action__content{
        padding-inline: 25px;
    }
    .products--min .product-card .product-card__image{
        height: 280px;
    }
    .footer__menu{
        column-gap: 100px;
    }
    .footer__info{
        margin-top: 100px;
        justify-content: space-between;
    }
    .footer__info-copyright{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 1320px) {
    .search__products{
        gap: 0 1px;
    }
    .menu__list-img{
        width: 315px;
        margin-right: 40px;
    }
}
@media (max-width: 1240px) {
    .header__inner,
    .menu__list{
        column-gap: 20px;
    }
    .menu__list-img{
        display: none;
    }
    .product-card__image{
        height: 400px;
    }
    .product-card__info-size{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .preview-collections--3 .preview-collections__items{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1px;
    }
    .preview-collections--3 .preview-collections__card:nth-child(3){
        grid-column: 1/3;
    }
    .footer__top {
        padding-right: 50px;
    }
    .model-action__box{
        width: 420px;
    }
    .search__products{
        grid-template-columns: repeat(4, 1fr);
        gap: 0 1px;
    }
}
@media (max-width: 1120px) {
    .header__btn-search{
        max-width: fit-content;
    }
    .header__btn-search span{
        display: none;
    }
    .product-card__image {
        height: 320px;
    }
    .product-card__top-sliderslide{
        padding: 29px 15px 0;
    }
    .product-card__top-sliderimg{
        aspect-ratio: 1 / 1;
    }
    .product-card__info{
        padding: 20px 15px !important;
    }
    .product-card__image-top{
        top: 15px;
        left: 15px;
        right: 15px;
    }
    .product-card__info-size{
        left: 15px;
        right: 15px;
    }
    .preview-collections__card {
        padding-inline: 15px;
    }
    .preview-collections__card,
    .preview-collection {
        min-height: 620px;
        padding-block: 40px;
    }
    .preview-collections__card-title,
    .preview-collection__card-title {
        margin-bottom: 40px;
    }
}
@media (max-width: 1040px) {
    .header .logo{
        margin-right: auto;
        z-index: 2;
    }
    .menu{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        height: 100dvh;
        padding-top: 86px;
        background-color: #fff;
        color: #1E1F1F;
        opacity: 0;
        transform: translateX(100%);
        overflow-y: auto;
        z-index: -1;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }
    .menu--active{
        opacity: 1;
        transform: translateX(0);
    }
    .menu__list{
        display: block;
        padding: 0 15px;
    }
    .menu__list-item{
        border-bottom: 1px solid #E6E6E6;
    }
    .menu__list-link {
        position: relative;
        padding-block: 23px;
        width: 100%;
    }
    .menu__list-link--active::after{
        background-image: url("../images/icons/minus.svg") !important;
    }
    .menu__list-link--active + .menu__list-box{
        display: block;
    }
    .menu__list-item--children-menu .menu__list-link::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 18px;
        background-image: url("../images/icons/plus.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .menu__list-box{
        position: relative;
        opacity: 1;
        pointer-events: visible;
        padding-top: 10px;
        padding-bottom: 40px;
        display: none;
    }
    .menu__list-boxcontent{
        display: block;
        padding-block: 0;
    }
    .menu__list-boxinner{
        border-top: none;
    }
    .menu__list-boxinner > .container{
        padding-inline: 0;
    }
    .menu__list-nav{
        flex-wrap: wrap;
    }
    .menu__list-img{
        display: none;
    }
    .menu__list-navtitle{
        margin-bottom: 26px;
        font-size: 13px;
    }
    .menu__list-navitem + .menu__list-navitem {
        margin-top: 26px;
    }
    .menu__list-navlink{
        font-size: 13px;
    }
    .menu__new-collections{
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-inline: 15px;
        overflow-x: hidden;
    }
    .menu__new-collectionstitle{
        margin-bottom: 20px;
        font-weight: 500;
    }
    .menu__new-collectionssliderimg{
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    .menu__new-collectionsslidertext{
        font-size: 12px;
        text-transform: uppercase;
    }
    .menu__info{
        display: block;
        padding-inline: 15px;
    }
    .menu__info-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 32px 40px;
        border-top: 1px solid #E6E6E6;
    }
    .menu__info-buttons{
        display: flex;
        column-gap: 30px;
    }
    .menu__list-navbox--column-1 .menu__list-navtitle{
        display: none;
    }
    .header__inner::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity .3s ease-in-out, background-color .3s;
    }
    .header__inner.header__inner--active::before{
        opacity: 1;
        background-color: #fff;
    }
    .header__buttons{
        display: none;
    }
    .header__mobile-btn{
        display: flex;
    }
    .header__links{
        column-gap: 20px;
    }
    .footer__top {
        padding-right: 30px;
    }
    .footer__info {
        margin-top: 40px;
    }
    .footer__menu {
        column-gap: 50px;
    }
    .footer__contact{
        max-width: 360px;
    }
}
@media (max-width: 920px) {
    .swiper-pagination-bullets{
        display: flex;
    }
    .new-collection__slider-subtitle{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .new-collection__slider-title{
        font-size: 38px;
        margin-bottom: 50px;
    }
    .link{
        font-size: 14px;
    }
    .new-collection__slider-slide{
        padding-bottom: 70px;
    }
    .subtitle{
        font-size: 30px;
    }
    .subtitle-2{
        font-size: 22px;
    }
    .products-block,
    .our-instagram{
        margin-top: 30px;
    }
    .products-block__top,
    .our-instagram__top{
       margin-bottom: 30px;
    }
    .products--min .product-card .product-card__image{
        height: 259px;
    }
    .slider-arrows{
        column-gap: 20px;
    }
    .slider-arrow{
        width: 15px;
        height: 15px;
    }
    .model-action__content{
        padding-inline: 15px;
    }
    .model-action__content--top{
        padding-block: 24px;
    }
    .model-action__content--bottom{
        padding-bottom: 38px;
    }
    .model-action__basket-likessliderslide .product-card__image {
        height: 259px !important;
    }
    .footer{
        padding-block: 40px;
    }
    .footer__info-links{
        margin-left: 30px;
    }
    .footer__menu-box {
        width: 150px;
    }
    .button{
        font-size: 14px;
        padding: 18px;
    }
    .model-action__box{
        width: 390px;
    }
    .model-action__top-title{
        font-size: 18px;
    }
    .search__box{
        padding-top: 56px;
    }
    .search__box > .container{
        padding-inline: 0;
    }
    .search__results,
    .search__content-itemname--padding{
        padding-inline: 15px;
    }
    .search__top{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: none;
        column-gap: 10px;
        z-index: 2;
    }
    .search__form{
        max-width: none;
    }
    .search__close-btn{
        min-width: 30px;
        min-height: 30px;
    }
    .search__results-link{
        padding-block: 15px;
    }
    .footer__contact-forminput{
        font-size: 16px;
    }
}
@media (max-width: 878px) {
    .preview-collections__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .preview-collections__card,
    .preview-collection{
        min-height: 520px;
    }
    .footer__top {
        padding-right: 0;
    }
    .footer__menu {
        column-gap: 30px;
    }
}
@media (max-width: 778px) {
    :root {
        --indent-top-pc: 74px;
    }
    .header{
        padding-block: 22px;
    }
    .logo svg{
        width: 140px;
    }
    .menu{
        padding-top: 74px;
    }
    .product-card__info-price{
        column-gap: 10px;
    }
    .product-card__info-pricecurrent{
        font-size: 13px;
    }
    .product-card__info-pricediscount{
        font-size: 10px;
    }
    .subtitle-2{
        font-size: 20px;
    }
    .products-block,
    .our-instagram{
        margin-top: 20px;
    }
    .products-block__top,
    .our-instagram__top{
        margin-bottom: 20px;
    }
    .slider-arrows{
        column-gap: 15px;
    }
    .product-card__info{
        padding: 15px;
    }
    .search__products{
        grid-template-columns: repeat(3, 1fr);
    }
    .menu__new-collectionssliderimg{
        height: 300px;
    }
    .menu__list-navbox{
        max-width: none;
    }
    .menu__list-navbox--column-1 .menu__list-navlist{
        column-count: 1;
    }
    .menu__list-navlist{
        column-count: 2;
    }
    .footer__top{
        display: block;
        padding-bottom: 46px;
    }
    .footer__contact{
        max-width: none;
    }
    .footer__contact-text{
        text-transform: uppercase;
    }
    .footer__menu{
        margin-top: 38px;
        display: block;
    }
    .footer__menu-name{
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
        display: block;
    }
    .footer__menu-box{
        width: 100%;
        border-top: 1px solid #717171;
        border-bottom: 1px solid #717171;
    }
    .footer__menu-box + .footer__menu-box{
        border-top: none;
    }
    .footer__menu-title{
        position: relative;
        margin-bottom: 0;
        padding-block: 23px;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
    }
    .footer__menu-title--active::before{
        background-image: url("../images/icons/minus-white.svg") !important;
    }
    .footer__menu-title::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("../images/icons/plus-white.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .footer__menu-title--active + .footer__menu-list{
        display: block;
    }
    .footer__menu-list{
        padding-left: 20px;
        padding-bottom: 23px;
        display: none;
    }
    .footer__social{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 0;
        column-gap: 24px;
    }
    .footer__info-links{
        margin-top: 41px;
        margin-left: 0;
    }
    .footer__info-separator{
        display: none;
    }
    .footer__info-links--1{
        display: block !important;
    }
    .footer__info-link{
        display: block;
        width: fit-content;
        text-transform: uppercase;
        margin-block: 9px;
        font-size: 16px;
    }
    .footer__info-links--2{
        display: none;
    }
    .footer .buttons-box--lang{
        display: block;
    }
    .footer__info{
        position: relative;
        padding-top: 51px;
    }
    .footer__info-copyright{
        position: absolute;
        top: 0;
        left: 0;
    }
    .footer__info-flex{
        column-gap: 30px;
    }
}
@media (max-width: 628px) {
    .product-card__image {
        height: 260px;
    }
    .preview-collections--3 .preview-collections__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .preview-collections--3 .preview-collections__card:nth-child(3) {
        grid-column: auto;
    }
    .our-instagram__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .menu__new-collectionssliderimg{
        height: 250px;
    }
}
@media (max-width: 568px) {
    :root {
        --indent-top-pc: 66px;
    }
    .new-collection__slider-button{
        display: none;
    }
    .header{
        padding-block: 18px;
    }
    .logo svg{
        width: 123px;
    }
    .header__inner,
    .header__links{
        column-gap: 16px;
    }
    .menu{
        padding-top: 66px;
    }
    .header__mobile-btn{
        margin-left: 14px;
    }
    .search__products {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-card__top-sliderimg {
        aspect-ratio: 1 / 0.8;
    }
}
@media (max-width: 465px) {
    .product-card__image-info span{
        font-size: 11px;
    }
    .product-card__info-flex{
        align-items: flex-end;
    }
    .product-card__info-title,
    .product-card__info-pricecurrent{
        font-size: 11px;
    }
    .product-card__info-price{
        margin-block: 9px 15px;
    }
    .product-card__info-pricediscount{
        font-size: 9px;
    }
    .product-card__info-colors{
        column-gap: 6px;
    }
    .product-card__info-color,
    .products--min .product-card .product-card__info-color{
        width: 8px;
        height: 8px;
    }
    .product-card__info-btn{
        width: 16px;
        height: 16px;
    }
    .product-card__info-sizelink{
        font-size: 10px;
    }
    .product-card__top-sliderimg {
        aspect-ratio: 1 / 1;
    }
    .menu__new-collectionssliderimg{
        height: 200px;
    }
}
@media (max-width: 414px) {
    .header__links-ref--favorites{
        display: none;
    }
    .model-action__box{
        width: 100%;
    }
    .menu__new-collectionssliderimg{
        height: 165px;
    }
    .products--min .product-card .product-card__top-sliderimg {
        aspect-ratio: 1 / 1;
    }
}